@model AV_BugTracker.Models.ApplicationUser

<head>
	<link href="~/Content/morris.css" rel="stylesheet" />

	<style>
		.chart {
			height: 250px;
		}
	</style>
</head>


<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h4>Tickets By Priority</h4>
			<div id="priorityChart">

			</div>
		</div>
		<div class="col">
			<h4>Tickets By Status</h4>
			<div id="statusChart">

			</div>
		</div>
		<div class="col">
			<h4>Tickets By Type</h4>
			<div id="typeChart">

			</div>
		</div>
	</div>
</div>
@section scripts{
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="~/Scripts/morris.min.js"></script>
	<script>
		$(document).ready(function () {
			$('table').DataTable();
		});
	</script>

	<script>
		var url = '@Url.Action("GetAllTicketPriorityData","MorrisCharts")'
		$.ajax({
			type: 'POST',
			contentType: "application/json; charset=utf-8",
			url: url,
			success: function (response) {
				new Morris.Bar({
					element: 'priorityChart',
					data: response,
					xkey: 'Label',
					ykeys: ['Value'],
					labels: ['Value']
				});
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert('bad, ' + errorThrown + "," + jqXHR.responseText + "," + textStatus);
			},
		});

		var url = '@Url.Action("GetAllTicketStatusData","MorrisCharts")'
		$.ajax({
			type: 'POST',
			contentType: "application/json; charset=utf-8",
			url: url,
			success: function (response) {
				new Morris.Bar({
					element: 'statusChart',
					data: response,
					xkey: 'Label',
					ykeys: ['Value'],
					labels: ['Value']
				});
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert('bad, ' + errorThrown + "," + jqXHR.responseText + "," + textStatus);
			},
		});

		var url = '@Url.Action("GetAllTicketTypeData","MorrisCharts")'
		$.ajax({
			type: 'POST',
			contentType: "application/json; charset=utf-8",
			url: url,
			success: function (response) {
				new Morris.Bar({
					element: 'typeChart',
					data: response,
					xkey: 'Label',
					ykeys: ['Value'],
					labels: ['Value']
				});
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert('bad, ' + errorThrown + "," + jqXHR.responseText + "," + textStatus);
			},
		});
	</script>
}