@{
    ViewBag.Title = "Confirm Email";
}

<h2 class="text-center">Email Confirmed!</h2>
<div>
    <h5 class="text-center">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h5>
</div>
<div class="container">
	<div class="row">
		<div class="col text-center">
			<img src="~/Images/logo.png" />
		</div>
	</div>
</div>