@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1 class="text-center">@ViewBag.Title</h1>
</hgroup>
<div>
    <h4 class="text-center">
        Please check your email to reset your password.
    </h4>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<img src="~/Images/logo.png" />
		</div>
	</div>
</div>
	
