@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1 class="text-center">@ViewBag.Title</h1>
</hgroup>
<div>
    <h5 class="text-center">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h5>
</div>
<br />
<div class="container">
	<div class="row">
		<div class="col text-center">
			<img src="~/Images/logo.png" />
		</div>
	</div>
</div>
